:host,
table {
    width: 100%;
}

.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}

table {
    table-layout: fixed;
    width: 20%;
}

td {
    text-overflow: ellipsis;
    height: 10px !important;
}