<header>

  <div class="flex left">
    <div [routerLink]="''">
      {{ 'PROTOCOL DEVIATION MONITORING' | titlecase }}
    </div>
    <mat-icon fontIcon="assignment" alt="Icon" [inline]="true"></mat-icon>
  </div>

  <div>
    <h3>
      {{ pageTitle }}
    </h3>
  </div>

  <div class="flex user">
    <mat-form-field appearance="outline">
      <mat-select [(ngModel)]="user" (valueChange)="onSelectUser($event)">
        <mat-label>Select a user</mat-label>
        <mat-option *ngFor="let user of users" [value]="user">
          {{ user.username | lowercase }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <p>{{ ((selectedTeam$ | async)?.name | titlecase ) || ("NO TEAM SELECTED" | sentenceCase) }}</p>
  </div>

</header>

<app-navigation-ribbon *ngIf="urlRoot !== ''"></app-navigation-ribbon>