mat-card {
    margin: 5px;
}

.checkbox {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.confirm {
    display: flex;
    align-items: center;
}

.checkbox, app-multi-select {
    width: fit-content;
}

.checkbox {
    padding-right: 5px;
}

.spinner-container {
    height: 20px;
    width: 20px;
}