<div class="header-container">
  <div class="header-left-container">
    <div class="header-left">
      <div [routerLink]="''" class="header-title">PROTOCOL DEVIATION MONITORING</div>
      <img [routerLink]="''" src="assets/clipboard-icon.png" alt="Icon" class="header-icon">
    </div>
  </div>
  <div class="header-middle-container">
    <div class="header-middle">{{ pageTitle }}</div>
  </div>
  <div class="header-right-container">
    <div class="header-right">
      <div class="user-dropdown">
        <select [(ngModel)]="usernameSelected" #select (change)="onSelectUser(select.value)">
          <option value="">Select a user</option>
          <option *ngFor="let user of users" [value]="user.username">{{ user.username }}</option>
        </select>
        <div *ngIf="selectedUser" class="selected-user">
          <p>{{ selectedUser.username }}</p>
          <p>{{ selectedTeam?.teamName || "NO TEAM SELECTED" }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<app-navigation-ribbon *ngIf="urlPathString !== ''"></app-navigation-ribbon>