<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" #input>
</mat-form-field>

<table mat-table [dataSource]="dataSource" matSort>

  <ng-container matColumnDef="fileName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> File </th>
    <td mat-cell *matCellDef="let file"> {{file.fileName}} </td>
  </ng-container>

    <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Uploaded By </th>
        <td mat-cell *matCellDef="let file"> {{file.uploadedBy}} </td>
    </ng-container>

    <ng-container matColumnDef="dateTimeUploaded">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
        <td mat-cell *matCellDef="let file"> {{file.dateUploaded | date:'full'}} </td>
    </ng-container>

  <ng-container matColumnDef="isFileBeingDeleted">
    <th mat-header-cell *matHeaderCellDef>
      <button mat-icon-button matTooltip="Options" aria-label="Options">
        <mat-icon>
          more_horiz
        </mat-icon>
      </button>
    </th>
    <td mat-cell *matCellDef="let file">
      <div class="action-container">
        <button mat-icon-button color="warn" matTooltip="Delete" aria-label="Delete" *ngIf="!file.isFileBeingDeleted"
          [disabled]="file.isFileBeingDeleted" (click)="onDelete(file)">
          <mat-icon>delete</mat-icon>
        </button>
        <mat-spinner *ngIf="file.isFileBeingDeleted" [diameter]="24"></mat-spinner>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">No files matching the filter "{{input.value}}"</td>
  </tr>
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of uploaded files"></mat-paginator>