:host {
  flex: 1;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  vertical-align: top;
  padding: 10px;
}

.app-upload,
.app-file-list,
.app-category-table {
  margin-bottom: 20px;
}

.app-category-table {
  clear: both;
}
