<mat-card appearance="outlined">
    <mat-card-content>
            <table mat-table [dataSource]="dataSource">
                <ng-container matColumnDef="username">
                    <th mat-header-cell *matHeaderCellDef> Username </th>
                    <td mat-cell *matCellDef="let user"> {{user.username}} </td>
                </ng-container>
                
                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef> Date Created </th>
                    <td mat-cell *matCellDef="let user"> {{user.dateCreated}} </td>
                </ng-container>
                
                <ng-container matColumnDef="role">
                    <th mat-header-cell *matHeaderCellDef> Role </th>
                    <td mat-cell *matCellDef="let user"> 
                        <mat-select [(ngModel)]="user.roleName">
                            <mat-option *ngFor="let roleName of roleNames$ | async"
                            [value]="roleName"
                            (onSelectionChange)="changeRole(roleName, $event, user)"                            >
                                {{roleName}}
                            </mat-option>
                        </mat-select>
                    </td>
                </ng-container>
                
                <ng-container matColumnDef="teams">
                    <th mat-header-cell *matHeaderCellDef> Teams </th>
                    <td mat-cell *matCellDef="let user">
                        <div class=checkbox>
                            <mat-checkbox *ngFor="let team of teams$ | async"
                                [checked]="isUserPartOfTeam(team.teamName, user)"
                                (change)="changeTeam(team, $event, user)">
                                {{ team.teamName }}
                            </mat-checkbox>
                        </div>
                    </td>
                </ng-container>
                
                <ng-container matColumnDef="confirm">
                    <th mat-header-cell *matHeaderCellDef> </th>
                    <td mat-cell *matCellDef="let user"> 
                        <button [disabled]="!user.isEdited" mat-button>
                            Confirm
                        </button>
                    </td>
                    </ng-container>
                
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        
            <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                showFirstLastButtons
                aria-label="Select page of users">
            </mat-paginator>
    </mat-card-content>
</mat-card>