<div class="page">
  <header>
    <app-header (userTeamsSelected)="handleUserTeams($event)" [pageTitle]="'SITE'"></app-header>
		<app-navigation-ribbon
    [buttons]="[
    { label: 'ADMIN', route: '/admin' }
    ]">
  </app-navigation-ribbon>
</header>
<main>
  <!-- Conditionally render app-site-team-data-select or app-site-team-data-select-multiteam -->
  <ng-container *ngIf="userTeams && userTeams.length <= 1">
    <app-site-team-data-select [team]="userTeams[0]"></app-site-team-data-select>
  </ng-container>
	</main>
<app-footer [footerImage]="'assets/footer-logo.png'"></app-footer>
</div>