<div class="page">
  <header>
    <app-header [pageTitle]="'SITE'"></app-header>
		<app-navigation-ribbon>
  </app-navigation-ribbon>
</header>
<main>
  <ng-container *ngIf="userTeams && userTeams.length <= 1">
    <app-site-team-data-select [team]="userTeams[0]"></app-site-team-data-select>
  </ng-container>
  <ng-container *ngIf="userTeams && userTeams.length > 1">
    <app-site-team-data-select-multiteam [teams]="userTeams"></app-site-team-data-select-multiteam>
  </ng-container>
	</main>
<app-footer [footerImage]="'assets/footer-logo.png'"></app-footer>