<mat-card appearance="outlined">
    <mat-card-header>
        <mat-card-title>
            Create User
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-form-field class="email" appearance="outline">
            <mat-label>Enter your email</mat-label>
            <input matInput placeholder=" john.smith@example.com" [formControl]="email"
                (blur)="updateEmailErrorMessage()" required />
            @if (email.invalid) {
            <mat-error>{{ emailErrorMessage() }}</mat-error>
            }
        </mat-form-field>
        <mat-form-field class="role" appearance="outline">
            <mat-label>Role</mat-label>
            <mat-select [formControl]="role" (closed)="updateRoleErrorMessage()" required>
                <mat-option *ngFor="let role of roles" [value]="role">
                    {{ role | titlecase }}
                </mat-option>
            </mat-select>
            <mat-error>{{ roleErrorMessage() }}</mat-error>
        </mat-form-field>
        <app-multi-select class="teams" #multiSelect [items]="teams" [keyField]="'name'" [search]="true"
            [searchPlaceholder]="'Search teams'" (confirmedItems)="onSelectTeam(teams)" appearance="outline">
        </app-multi-select>
        <div class="confirm">
            <button mat-raised-button [disabled]="email.errors || role.errors || inProgress" (click)="onConfirm()">
                Create
            </button>
            <div class="spinner">
                <mat-progress-spinner *ngIf="inProgress" mode="indeterminate" diameter="20">
                </mat-progress-spinner>
            </div>
        </div>
    </mat-card-content>
</mat-card>