.category-table {
  margin: 20px auto;
  overflow: auto;
  max-height: 1000px;
  max-width: 100%;
}


.category-table h2 {
  margin-bottom: 10px;
}

.category-table table {
  width: 100%;
  border-collapse: collapse;
}

.category-table th,
.category-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  font-size: 14px;
}

.category-table th {
  background-color: #009cee;
}

.category-table th:nth-child(1) {
  width: 10%;
}

.category-table th:nth-child(2) {
  width: 40%;
}

.category-table th:nth-child(4) {
  width: 30%;
  border-right: none;
}

.category-table td:nth-child(4) {
  border-right: none;
}

.category-table th:nth-child(5) {
  width: 2%;
  border: none;
}

.category-table td:nth-child(5) {
  border: none;
}

.category-table th:nth-child(3) {
  width: 10%;
}

.category-table span {
  cursor: pointer;
}

.custom-dropdown {
  max-width: 600px;
}

.custom-select {
  position: relative;
  width: 100%;
  
}

.custom-select select {
  height: 100px;
  white-space: normal;
}

.custom-select select option {
  white-space: pre-wrap;
}


/* Audit Popup */
#audit-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.popup-content {
  max-height: 80vh;
  overflow-y: auto;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.pagination {
  bottom: 45px;
  width: 100%;
  text-align: center;
}

.pagination span {
  display: inline-block;
  padding: 10px;
  margin-right: 5px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.pagination span:hover {
  background-color: #e0e0e0;
}

.page-button-active {
    background-color: #009cee;
    color: white;
}

.page-button-disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
}