@import "../node_modules/@angular/material/prebuilt-themes/azure-blue.css";

html {
  height: 100%;
  width: 100%;
}

body {
  height: calc(100% - 26px);
  width: calc(100% - 36px);
}

body {
  margin: 8px;
  border: 10px solid #009cee;
  border-top: 0px;
  border-radius: 10px;
}

app-root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}