html,
body {
  height: calc(100% - 18px);
  width: calc(100% - 18px);
  margin: 0;
}

body {
  margin: 8px;
  border: 10px solid #009cee;
  border-radius: 10px;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

app-root {
  display: flex;
  flex-direction: column;
  height: 100%;
}
body { font-family: Roboto, "Helvetica Neue", sans-serif; }

.cdk-overlay-container {
  position: absolute;
  left: 50%;
  right: 50%;
  top: calc(100% - 64px);
  white-space: pre-wrap;
}