<mat-card>
    <app-dvcat-dvdecod-breakdown-graph #dvcat_dvdecod_graph
    (dvdecodGraphData)="updateDvdecodGraphData($event)" 
    (colourMode)="updateColourMode($event)">
    </app-dvcat-dvdecod-breakdown-graph>
</mat-card>

<mat-card *ngIf="graphData.length !== 0 && !hasStudyChanged" class="dvdecodGraph" #dvdecodGraph>
    <mat-card-content class="dvdecodGraph">
        <app-dvdecod-graph [data]="graphData"
        [isColourModeDefault]="isColourModeDefault"
        (selectedDvdecod)="updateTable($event)">
        </app-dvdecod-graph>
    </mat-card-content>
    <mat-card-footer>
        <mat-icon matTooltip="Click below a bar to generate a table">
            info
        </mat-icon>
    </mat-card-footer>
</mat-card>

<mat-card *ngIf="(selectedDvdecod.length !== 0) && !hasStudyChanged" class="table">
    <mat-card-header>
        {{ selectedDvdecod | titlecase }}
    </mat-card-header>
    <mat-card-content>
        <app-data-table
        [fetchedData]="tableData"
        [fetchData]="apiRequest"
        (dataUpdated)="onDataUpdated()">
        </app-data-table>
    </mat-card-content>
</mat-card>