<mat-card appearance="outlined" class="pending">
    <mat-card-header>
        Upload Files
    </mat-card-header>

    <mat-card-content>
        <app-file-upload (filesChange)="onFileChange($event)"></app-file-upload>
    </mat-card-content>

    <mat-card-footer>

        <mat-expansion-panel class="mat-elevation-z0" #filesPanel (afterExpand)="hasFilesPanelGotNewFiles=false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Files <a *ngIf="isFilePanelBadgesVisible" [matBadge]="pendingUploadTable.dataSource.data.length" class="badge"
                        [matBadgeOverlap]="false" matBadgePosition="above after" [matBadgeColor]="'accent'"></a>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-panel-description>
                <app-pending-uploads-table #pendingUploadTable [newData]="newFiles" (onSuccessfulUpload)="onSuccessfulUpload()" (errors)="onFileErrors($event)">
                </app-pending-uploads-table>
            </mat-panel-description>
        </mat-expansion-panel>

        <mat-expansion-panel class="mat-elevation-z0" #errorsPanel (afterExpand)="hasErrorsPanelGotNewFiles=false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Errors <a *ngIf="isErrorPanelBadgesVisible" [matBadge]="errorsTable.errors.length" class="badge" [matBadgeOverlap]="false"
                        matBadgePosition="above after" [matBadgeColor]="'accent'"></a>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-panel-description>
                <app-upload-errors-table #errorsTable [errors]="errors">
                </app-upload-errors-table>
            </mat-panel-description>
        </mat-expansion-panel>

    </mat-card-footer>
</mat-card>

<mat-card appearance="outlined" class="uploaded">
    <mat-card-header>
        Uploaded Files
    </mat-card-header>

    <mat-card-content>
        <app-uploaded-files-table #uploadedFilesTable>
        </app-uploaded-files-table>
    </mat-card-content>
</mat-card>