:host {
    display: flex;
    flex-direction: row;
}

mat-card.pending {
    margin: 5px;
    max-width: 35%;
    flex: 1;
    height: fit-content;
}

mat-card.uploaded {
    margin: 5px;
    flex: 1;
    height: fit-content;
}

mat-panel-title {
    align-items: center;
    justify-content: space-between;
}

.badge {
    margin-bottom: 16px;
}

mat-icon {
    cursor: default;
}