<mat-card appearance="outlined">
    <mat-card-header>
        Upload Files
    </mat-card-header>

    <mat-card-content>
        <app-file-upload (filesChange)="onFileChange($event)"></app-file-upload>
    </mat-card-content>

    <mat-card-footer>

        <mat-expansion-panel class="mat-elevation-z0" #FilesPanel (afterExpand)="hasFilesPanelGotNewFiles=false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Files <a *ngIf="isFilePanelVisible" [matBadge]="files.length" class="badge"
                        [matBadgeOverlap]="false" matBadgePosition="above after" [matBadgeColor]="'accent'"></a>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-panel-description>
                <app-pending-uploads-table [data]="files" (errors)="onFileErrors($event)">
                </app-pending-uploads-table>
            </mat-panel-description>
        </mat-expansion-panel>

        <mat-expansion-panel class="mat-elevation-z0" #ErrorsPanel (afterExpand)="hasErrorsPanelGotNewFiles=false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Errors <a *ngIf="isErrorPanelVisible" [matBadge]="1" class="badge" [matBadgeOverlap]="false"
                        matBadgePosition="above after" [matBadgeColor]="'accent'"></a>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-panel-description>
                <app-upload-errors-table [errors]="errors">
                </app-upload-errors-table>
            </mat-panel-description>
        </mat-expansion-panel>

    </mat-card-footer>
</mat-card>