<mat-grid-list [cols]="cols" [rowHeight]="rowHeight">
    @for (tile of tiles; track tile; let i = $index) {
        <mat-grid-tile 
        [colspan]="tile.colspan"
        [rowspan]="tile.rowspan"
        [ngClass]="getVisualisationClass(i)">
        <div [ngSwitch]="i" class="container">
            <ng-container *ngSwitchCase="0">
                <app-team-study-select></app-team-study-select>
            </ng-container>
            <ng-container *ngSwitchCase="1">
                <app-visualisation></app-visualisation>
            </ng-container>
            <ng-container *ngSwitchCase="2">
                <app-category-bar-graph></app-category-bar-graph>
            </ng-container>
            <ng-container *ngSwitchCase="3">
                <!-- <app-category-pie-graph></app-category-pie-graph> -->
            </ng-container>
            <ng-container *ngSwitchCase="4">
                <!-- <app-category-bar-graph-segmented></app-category-bar-graph-segmented> -->
            </ng-container>
        </div>
        </mat-grid-tile>
    }
</mat-grid-list>