<div class="container">
  <div class="audit-trail-management">
    <table>
      <thead>
        <tr>
          <th (click)="sortTable('username')">Modified by
            <span *ngIf="sortedColumn === 'username' && sortDirection === 'asc'">&#x25B2;</span>
            <span *ngIf="sortedColumn === 'username' && sortDirection === 'desc'">&#x25BC;</span>
          </th>
          <th (click)="sortTable('dateTimeEdited')">Date / Time
            <span *ngIf="sortedColumn === 'dateTimeEdited' && sortDirection === 'asc'">&#x25B2;</span>
            <span *ngIf="sortedColumn === 'dateTimeEdited' && sortDirection === 'desc'">&#x25BC;</span>
          </th>
          <th (click)="sortTable('entityChanged')">Entity Changed 
            <span *ngIf="sortedColumn === 'entityChanged' && sortDirection === 'asc'">&#x25B2;</span>
            <span *ngIf="sortedColumn === 'entityChanged' && sortDirection === 'desc'">&#x25BC;</span>
          </th>
          <th (click)="sortTable('attributeChanged')">Attribute Changed 
            <span *ngIf="sortedColumn === 'attributeChanged' && sortDirection === 'asc'">&#x25B2;</span>
            <span *ngIf="sortedColumn === 'attributeChanged' && sortDirection === 'desc'">&#x25BC;</span>
          </th>
          <th (click)="sortTable('changeFrom')">Original Attribute
            <span *ngIf="sortedColumn === 'changeFrom' && sortDirection === 'asc'">&#x25B2;</span>
            <span *ngIf="sortedColumn === 'changeFrom' && sortDirection === 'desc'">&#x25BC;</span>
          </th>
          <th (click)="sortTable('changeTo')">Modified Attribute
            <span *ngIf="sortedColumn === 'changeTo' && sortDirection === 'asc'">&#x25B2;</span>
            <span *ngIf="sortedColumn === 'changeTo' && sortDirection === 'desc'">&#x25BC;</span>
          </th>
          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let audit of pagedAuditTrail">
          <td>{{ audit.username }}</td>
          <td>{{ audit.dateTimeEdited }}</td>
          <td>{{ audit.entityChanged }}</td>
          <td>{{ audit.attributeChanged }}</td>
          <td>{{ audit.changeFrom }}</td>
          <td>{{ audit.changeTo }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="pagination">
    <!-- First Button -->
    <span (click)="setPage(1)" [class.page-button-disabled]="disabledFirstButton"><<</span>
    
    <!-- Previous Button -->
    <span (click)="setPage(currentPage - 1)" [class.page-button-disabled]="disabledPreviousButton">Previous</span>
    
    <!-- Page Numbers -->
    <span *ngFor="let page of pages" (click)="setPage(page)" [class.page-button-active]="currentPage === page">{{ page }}</span>
    
    <!-- Next Button -->
    <span (click)="setPage(currentPage + 1)" [class.page-button-disabled]="disabledNextButton">Next</span>
    
    <!-- Last Button -->
    <span (click)="setPage(pages.length)" [class.page-button-disabled]="disabledLastButton">>></span>
  </div>
</div>
