<mat-card-content *ngIf="isDataLoading">
    <canvas id="dvcatDvdecodBreakdownSkeletonGraph"
    aria-label="Bar chart for dvcats with dvdecod is loading">
        {{chart}}
    </canvas>
</mat-card-content>

<mat-card-actions *ngIf="isDataLoading">
    <ngx-skeleton-loader count="10" appearance="line"></ngx-skeleton-loader>
</mat-card-actions>

<mat-card-content *ngIf="!isDataLoading">
    <div class="canvas" style="position: relative">
        <canvas id="dvcatDvdecodBreakdownGraph" 
        (click)="onClick($event)"
        (mousemove)="onHover($event)"
        aria-label="Bar chart for dvcats with dvdecod is loading">
        {{chart}}
    </canvas>
    </div>
    <mat-card-footer *ngIf="!isDataLoading">
        <mat-icon matTooltip="Click a dvcat to generate a graph">
            info
        </mat-icon>
    </mat-card-footer>
</mat-card-content>


<mat-card-actions *ngIf="!isDataLoading">
    
    <div class="toggleWithIcon">
        <mat-slide-toggle (toggleChange)="toggleLegendAndColourMode()">
            Toggle Legend & Colours
        </mat-slide-toggle>
        <mat-icon matTooltip="Turn the legend and colours on and off. 
            When on, each dvdecod is given a unique colour.
            When off, the colours across each dvcat is consistent">
            info
        </mat-icon>
    </div>
    <mat-expansion-panel #panel [ngClass]="{'open': panelOpenState()}"
    (afterExpand)="panelOpenState.set(true)"
    (closed)="panelOpenState.set(false)">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Filter Dvcats
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-multi-select [items]="labels" [defaultValues]="labels" [height]="400" (confirmedItems)="updateChart($event)">
        </app-multi-select>
      </mat-expansion-panel>
</mat-card-actions>