<ng-template #selfie [ngTemplateOutlet]="selfie"
    let-isTeamSelected="a" [ngTemplateOutletContext]="{ a: ((currentTeam$ | async) !== null) }">
      <app-page-button
        [link]="links[0]"
        icon = "assets/data-upload-icon.svg"
        alt = "Data upload image" 
        label ="DATA UPLOAD"
        [disabledByDeactivatedUser]="true">
        
      </app-page-button>
      <app-page-button
        [link]="links[1]"
        icon = "assets/data-visualisation-icon.svg"
        alt = "Data visualisation" 
        label ="DATA VISUALISATION"
        [disabledByDeactivatedUser]="true"
        [disabled]="(!isTeamSelected)"
        [ngClass]="{'disabled': (!isTeamSelected)}">
      </app-page-button>
</ng-template>