<ng-template #selfie [ngTemplateOutlet]="selfie"
    let-isTeamSelected="a" [ngTemplateOutletContext]="{ a: ((currentTeam$ | async) !== null) }">
      <app-page-button
        [link]="links[0]"
        icon = "assets/data-upload-icon.svg"
        alt = "Data upload image" 
        label ="DATA UPLOAD"
        [disabled]="isUserDeactivated"
        [ngClass]="{'disabled': isUserDeactivated}">
      </app-page-button>
      <app-page-button
        [link]="links[1]"
        icon = "assets/data-visualisation-icon.svg"
        alt = "Data visualisation" 
        label ="DATA VISUALISATION"
        [disabled]="isUserDeactivated || (!isUserDeactivated && !isTeamSelected)"
        [ngClass]="{'disabled': isUserDeactivated || (!isUserDeactivated && !isTeamSelected)}">>
      </app-page-button>
</ng-template>