div.page {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

div.content {
  display: flex;
  flex: 1;
  height: 100%;
}

div.select {
  flex: 1 6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
  padding-left: 10px;
}

div.visuals {
  flex: 5;
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 100px;
}

div.top,
div.bottom {
  display: flex;
  height: 100%;
  width: 100%;
}

div.top>div,
div.bottom>div {
  height: 100%;
  width: 100%;
}

div.count {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1 4 0;
}

div.count>p {
  font-size: 3vh;
  text-align: center;
  flex: 1;
}

div.bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 3;
}

div.barContent {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5px;
}

div.barContent>p {
  writing-mode: tb-rl;
  transform: rotate(180deg);
  text-align: end;
  font-size: 2vh;
  /* flex: 0.5; */
  margin-right: 0;
}

div.bar>p {
  font-size: 2vh;
}

text {
  font-size: 2vh;
}

div.donut {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 2 1 0;
}

div.donut>p {
  font-size: 1.5vw;
}

div.donutContent {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

div.histogram {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 3;
  max-height: 350;
}

div.histogram>p {
  font-size: 2vh;
  text-align: center;
  /* flex: 1; */
  height: 100%;
}

div.histogramContent {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.histogramContent>p {
  writing-mode: tb-rl;
  transform: rotate(180deg);
  text-align: end;
  font-size: 2vh;
  margin-right: 0;
}