<div class="content">
  <div class="select">
    <app-site-study-level-select></app-site-study-level-select>
  </div>
  <div class="visuals">
    <div class="top">
      <div class="count">
        <app-visualisation></app-visualisation>
      </div>
      <div class="bar">
        <app-category-bar-graph></app-category-bar-graph>
      </div>
    </div>
    <div class="bottom">
      <div class="pie">
        <app-category-pie-graph></app-category-pie-graph>
      </div>
      <div class="histogram">
        <app-category-bar-graph-segmented></app-category-bar-graph-segmented>
      </div>
    </div>
  </div>
</div>