div.page {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

div.content {
  display: flex;
  flex: 1;
  height: 100%;
}

div.select {
  flex: 1 6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding-left: 10px;
}

div.visuals {
  flex: 5;
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 100px;
  margin-right: 5px;
  margin-bottom: 5px;
}

div.top,
div.bottom {
  display: flex;
  height: 50%;
  width: 100%;
}


div.count {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1 4 0;
  height: 100%;
}

app-visualisation {
  --width: 50%;
  --height: 50%;
  width: min(calc(var(--width)), calc(var(--height)));
  height: min(calc(var(--width)), calc(var(--height)));
}

div.bar {
  width: 70%;
  height: 100%;
}

div.pie {
  width: 40%;
  height: 100%;
}


app-category-bar-graph,
app-category-pie-graph,
app-category-bar-graph-segmented {
  width: 100%;
  height: 100%;
}

div.histogram {
  width: 60%;
  height: 100%;
}