<div class="page">
  <header>
    <app-header [pageTitle]="'DATA VISUALISATION'"></app-header>
    <app-navigation-ribbon [buttons]="[{ label: 'ADMIN', route: '/admin' }]">
    </app-navigation-ribbon>
  </header>
  <div class="content">
    
    <div class="select">
      <app-site-select></app-site-select>
      <app-site-study-level-select></app-site-study-level-select>
    </div>

    <div class="visuals">

      <div class="top">
        <div class="count">
          <h2>Total number of PDs at site</h2>
          <app-visualisation></app-visualisation>
        </div>
        <div class="bar">
          <app-category-bar-graph></app-category-bar-graph>
        </div>
      </div>

      <div class="bottom">
        <div class="donut">
          <app-category-pie-graph></app-category-pie-graph>
        </div>  
        <div class="histogram">
          <app-category-bar-graph-segmented></app-category-bar-graph-segmented>
        </div>
      </div>

      </div>
    </div>
</div>