<div class="page">
  <header>
    <app-header [pageTitle]="'DATA VISUALISATION'"></app-header>
    <app-navigation-ribbon>
    </app-navigation-ribbon>
  </header>
  <div class="content">


    <div class="select">
      <app-site-select></app-site-select>
      <app-site-study-level-select></app-site-study-level-select>
    </div>

    <div class="visuals">

      <div class="top">
        <div class="count">
          <app-visualisation></app-visualisation>
        </div>
        <div class="bar">
          <p>Total number of PDs per category (DVCAT) at site</p>
          <div class="barContent">
            <p>Category for Protocol Deviation</p>
            <app-category-bar-graph></app-category-bar-graph>
          </div>
        </div>
      </div>

      <div class="bottom">
        <div class="donut">
          <app-category-pie-graph></app-category-pie-graph>
        </div>
        <div class="histogram">
          <p>Total number of PDs per category (DVCAT) per study at site</p>
          <div class="histogramContent">
            <p>Study ID</p>
            <app-category-bar-graph-segmented></app-category-bar-graph-segmented>
          </div>
          <p>Total number of PDs per DVCAT</p>
          <p>Total number of PDs per category (DVCAT) per study at site</p>
          <div class="histogramContent">
            <p>Study ID</p>
            <app-category-bar-graph-segmented></app-category-bar-graph-segmented>
          </div>
          <p>Total number of PDs per DVCAT</p>
        </div>
      </div>

    </div>
  </div>
</div>