/* Large Screen */
div.page {
  display: flex;
  flex-direction: column;
  height: 100%;
}

app-visualisation {
  --width: 50%;
  --height: 50%;
  width: min(calc(var(--width)), calc(var(--height)));
  height: min(calc(var(--width)), calc(var(--height)));
  display: block;
}

@media only screen and (min-width: 1451px) {

  div.content {
    display: flex;
    height: 100%;
  }

  div.select {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 15%;
    padding-left: 10px;
  }

  div.visuals {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 85%;
    margin-right: 5px;
    margin-bottom: 5px;
  }

  div.top,
  div.bottom {
    display: flex;
    height: 50%;
    width: 100%;
  }


  div.count {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 100%;
  }

  
  div.bar {
    width: 70%;
    height: 100%;
  }
  
  div.pie {
    width: 40%;
    height: 100%;
  }
  
  app-site-study-level-select,
  app-category-bar-graph,
  app-category-pie-graph,
  app-category-bar-graph-segmented {
    width: 100%;
    height: 100%;
  }

  app-site-study-level-select {
    display: flex;
  }
  
  div.histogram {
    width: 60%;
    height: 100%;
  }
}


/* Medium screen */
@media only screen and (min-width: 951px) and (max-width: 1450px) {
  
  div.content {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1;
  }

  div.select {
    flex: 1;
    width: 100%;
  }

  div.visuals {
    flex: 9;
    width: 100%;
  }

  .top, .bottom {
    height: 50%;
    display: flex;
  }

  .count, .bar, .pie, .histogram {
    height: 100%;
  }

  .count {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .bar {
    flex: 8;
  }

  .pie {
    flex: 3;
  }

  .histogram {
    flex: 7;
  }
}

/* Small screen */
@media only screen and (max-width: 950px) {
  
  body, html {
    height: 200%;
    display: flex;
  }

  .page, .content {
    height: 100%;
  }

  .content {
    display: flex;
    flex-direction: column;
  }

  .select {
    height: auto;
  }

  .visuals {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .top, .bottom {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .count, .bar, .pie, .histogram {
    flex: 1;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}