mat-card {
    margin: 5px;
}

table {
    width: 100%;
}

.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}

.actions {
    width: 96px;
}

mat-card-header {
    display: flex;
    flex-direction: column;
}