footer {
  height: 82px;
  display: flex; /* Make sure the footer is a flex container */
  justify-content: flex-end;
  align-items: flex-end; /* Align items to the end (right side) */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  border-top: 2px solid #ff0087;
}

img {
  max-width: 100%;
  max-height: 80px;
  object-fit: contain;
  /* width: auto;
  /* height: auto;
  max-height:80px;
  object-fit: contain; */
}

@media only screen and (max-width: 609px) {
  footer {
    height: 42px;
  }
  
  img {
    max-height: 40px;
  }
}