<div class="site-data-container">
  <!-- Team selection with search bar -->
  <div class="team-selection">
    <h3>Select a Team:</h3>
    <input class="search" type="text" [(ngModel)]="searchTerm" placeholder="Search teams">
    <ul class="team-list">
      <li *ngFor="let team of filteredTeams">
        <label>
          <input 
            type="radio" 
            name="team" 
            [value]="team" 
            [(ngModel)]="teamToBeConfirmed"
          />
          {{ team.teamName }}
        </label>
      </li>
    </ul>
    <button class="confirm" (click)="confirmTeam()"> Confirm </button>
  </div>
  
	<div class="site-team-data-select-container">
	  <!-- Data Upload and Data Visualisation buttons -->
	  <div class="data-buttons">
	    <button [routerLink]="'/data-upload'">
	      <img src="assets/data-upload-icon.svg" alt="Data Upload Image">
	      <p>DATA UPLOAD</p>
	    </button>
	    <button [routerLink]="'/data-visualisation'">
	      <img src="assets/data-visualisation-icon.svg" alt="Data Upload Image">
	      <p>DATA VISUALISATION</p>
	    </button>
	  </div>
	</div>
</div>