<div class="site-data-container">
  <div class="team-selection">
    <h3>Select a Team:</h3>
    <input class="search" type="text" [(ngModel)]="searchTerm" placeholder="Search teams">
    <ul class="team-list">
      <li *ngFor="let team of filteredTeams">
        <label>
          <input 
            type="radio" 
            name="team" 
            [value]="team" 
            [(ngModel)]="teamToBeConfirmed"
          />
          {{ team.teamName }}
        </label>
      </li>
    </ul>
    <button class="confirm" (click)="confirmTeam()"> Confirm </button>
    <p *ngIf="isTeamConfirmed" class="confirmationMessage"> {{ teamToBeConfirmed?.teamName + " selected"}}</p>
  </div>
  
	<div class="site-team-data-select-container">
	  <app-site-team-data-select></app-site-team-data-select>
	</div>
</div>