<div class="container">
  <div class="site-management">
    <table>
      <thead>
        <tr>
          <th (click)="sortTable('siteId')">Site ID <span *ngIf="sortedColumn === 'siteId' && sortDirection === 'asc'">&#x25B2;</span><span *ngIf="sortedColumn === 'siteId' && sortDirection === 'desc'">&#x25BC;</span></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let site of sites">
          <td>{{ site }}</td>
          <td><input type="checkbox" [(ngModel)]="newSites[site]" [ngModelOptions]="{ standalone: true }"></td>
        </tr>
      </tbody>
    </table>
    <div class="button-container">
      <button (click)="updateSites()">Submit</button>
    </div>
  </div>
  <div class="pagination">
		    <!-- First Button -->
		    <span (click)="setPage(1)" [class.page-button-disabled]="disabledFirstButton"><<</span>
		    
		    <!-- Previous Button -->
		    <span (click)="setPage(currentPage - 1)" [class.page-button-disabled]="disabledPreviousButton">Previous</span>
		    
		    <!-- Page Numbers -->
		    <span *ngFor="let page of pages" (click)="setPage(page)" [class.page-button-active]="currentPage === page">{{ page }}</span>
		    
		    <!-- Next Button -->
		    <span (click)="setPage(currentPage + 1)" [class.page-button-disabled]="disabledNextButton">Next</span>
		    
		    <!-- Last Button -->
		    <span (click)="setPage(pages.length)" [class.page-button-disabled]="disabledLastButton">>></span>
		</div>
</div>