<app-border class="dashboard-background">
  <app-header [pageTitle]="'ADMINISTRATOR'"></app-header>
  <app-navigation-ribbon
  [buttons]="[
    { label: 'ADMIN', route: '/admin' }
  ]">
  </app-navigation-ribbon>
  <div class="nav-container">
    <div class="nav-button" (click)="showUserManagement()">User Management</div>
    <div class="nav-button" (click)="showTeamManagement()">Team Management</div>
    <div class="nav-button">Site Management</div>
    <div class="nav-button">Audit Trail</div>
  </div>
  <app-user-management *ngIf="isUserManagementVisible"></app-user-management>
  <app-team-management *ngIf="isTeamManagementVisible"></app-team-management>
</app-border>
