table {
    width: 100%;
}

.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}

td,
th {
    width: 25%;
}

button.tick {
    mat-icon {
        color: green !important;
    }
}

div.actionContainer {
    width: 160px;
    display: flex;
}